
<h1>Calculator form</h1>

<div class="input">
  <%= form_tag("/calc/calculate", :method => "post", :class => "form-inline") do %>
      <div class="form-group">
        <input type="text" class="form-control" name="value1" id="exampleInputEmail2" placeholder="value1">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="value2" id="exampleInputEmail2" placeholder="value2">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="operation" id="exampleInputEmail2" placeholder="operation">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      </form>
  <% end %>
</div>

<br>

